@use "../../assets/styles/variables" as *;

.usernav {
    position: absolute;
    top: 3.7rem;
    right: 0rem;
    
    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
    }

    &__item {
        text-decoration: none;
        text-align: center;
        padding: 1rem;
        color: black;
        width: 5rem;
        border-bottom: 1px solid $default-color;
        width: 5rem;
        border-left: 1px solid $default-color;
    }
}