@use "../../assets/styles/variables" as *;

.nav {
  width: 100%;
  height: 3.5rem;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid $default-color;

  &__logo {
    height: 3.5rem;
  }

  &__icon {
    height: 1.3rem;
    cursor: pointer;
  }
}